
<!---<p>
  </h1>Edit Your Profile</h1>
  <hr/>
</p>---><%= render 'shared/page_title' , title: "Edit your Profile" %>

<%= render 'form' %>

<!--if you want the shared partial refernced to a object,you would enbed and render to   'folder/filename, title: @object.atributename , (object is thename of the model or entity)---->