
<!-------index page  for makeup artist-->

<% @martists.each do |martist| %> <!--iterating through each makeup artist in the makeup artist table,  martist  is the object, view gets an object passed through it from a controller --->
  <div class="row">
   
    
    <div class="col-lg-8 well"> 
       <h1>profile pix</h1>
      <h4><%= link_to martist.username ,martist_path(martist) %></h4>
     <p><%= martist.profilemessage %></p>
     <p>
         <span class= 'quiet'><small><%= time_ago_in_words(martist.created_at) %> ago</small></span>
     </p>
    </div>   
     
  </div>
   
<% end %>