<!------form partial for picture upload---------->
<div class=row>
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @photo do |f|%>
      <%=f.label :Add_a_tittle %>
      <%= f.text_area :summary, rows:12%>
      
      <%=f.submit(@photo.new_record? ?  'Upload a  new photo' : 'Edit Photo', class:"btn btn-default") %>
    <% end %>
  </div>
</div>