
<!----show pages for photo model----->

<div class="container">
    	<div class="row">	
    		<div class="col-md-3 col-xs-1">
    			</div>
    		<div class="col-md-4 col-xs-12"><h1><%= @photo.martist.username %></h1> </div>
    		
    		
    		<div class="col-md-6 col-xs-12"><h3><%= @photo.martist.profilemessage %></h3> </div>
    		
    		<div class="col-md-3 col-xs-12"><h1><%= link_to "Book an appointment" , ""%></h1></div>
    	</div> 
	 
	 <div class="row">
	 	<div class="col-md-9 col-xs-6">
			 <!--this div is displayed  if htere is a picture-->
		</div><!-- end feature -->
	 </div>
	 
	 </div>
	 
	 