<!------show larger picture  view for makeupartist photo that was newly uploaded -->
<div class="row">
  
  <div class="col-md-4 pull-right center " >
    <h5><%= @photo.summary  %></h5>
   
  </div>
  <div class="col-md-8 pull-right center " >
      <div class="well photo-space">
          <h1>Larger Image of upLoaded Photo</h1>
          <p class="text-right"><small><%= link_to "Edit Photo" ,edit_photo_path(@photo) %></Edit></small></p>
      </div>
   </div>
  </div>
  
  <h5>view all images of <%=link_to  @photo.martist.username , "" %>'s album</h5>
  

  
  
</div>