$navbar-default-bg:black;
$navbar-default-color:black;



@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  margin-top:5px;
  
  margin-right:10px;
  font-size:2em;
  color:#D81B60;
  text-transform:uppercase;
  letter-spacing:-1px;
  padding-top:9px;
  font-weight:bold;
  
  
}
#logo:hover{
  text-decoration: none;
  color:gold;
}
body{
  
  padding-top:80px;
}

.navbar-collapse{

  margin-bottom:5px;
  margin-right:5px;
  letter-spacing:-1px;
  font-weight:bold;
  color:white;
  
}

.navbar-default .navbar-nav > li > a{
  color:white;
}

.footer{
  
  margin-top:25px;
  border-top: 1px solid #D81B60 ;
  color: white;
  
}

.well {
  background-color: #FOEEF9;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #BE9B3D;
  border-radius: 4px;
   width: 100%;
  margin-bottom: 15px;
}
  
input{
  height: auto !important;
  
}

span.martistpicture {
  margin: 10px 10px 10px 10px;
  
  input {
    border: 0;
  }
}
